<h1>About Tarot</h1>
<div class="about">
  <p>
    <i>"Tarot"</i>
    cards probably originated in Italy in the 14th century since the earliest
    known explanation of their usage dates to 1391. The pack of cards, known as
    the Tarocco, is made up of 22 major enigmas, whose figures represent a
    synthesis of the mysteries of life; and 56 minor images incorporating 14
    figures in four series (gold, clubs, swords and goblets). The 22 major
    enigmas correspond to the letters of the Hebrew alphabet and the number of
    hieroglyphs the ancient Jews used in divination. Each major enigma has an
    image with a particular meaning, e.g. Enigma I is the Minstrel, which
    signifies The Being, the spirit and creation; and Enigma XV is the Devil,
    which signifies magic, eloquence, commerce and mystery. Enigmas I through XI
    comprise the solar way 3 active, conscious, reflective and autonomous; while
    enigmas XII through XXII denote the lunar way passive, unconscious,
    intuitive and possessed. The four series of the 56 minor images have the
    following significance: gold signifies intellectual activity; clubs,
    government; swords, military career; and goblets, the priesthood.
    Practitioners of Tarot believe that these enigmas, images and series
    represent the sum of the knowledge of all sciences, particularly astrology,
    and in the permutations in "dealing the cards" are capable of revealing the
    future and solving all problems. While this author has no intention or
    desire of fully explaining the practice of Tarot, this brief overview does
    highlight that this practice is connected with the occult powers and seeks
    to reveal and control the future.
</div>