<h1>Create</h1>
<div class="form">
  <form action="/tarot/create" method="POST">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" />
    <label for="name">Description</label>
    <textarea id="name" name="description"></textarea>
    <label for="image">ImageUrl</label>
    <input type="text" id="image" name="imageUrl" />
    <label for="arcanNumber">Major Arcan</label>
    <select id="arcanNumber" name="arcanNumber">
      <option value="0">0 - The Fool</option>
      <option value="1">1 - The Magician</option>
      <option value="2">2 - The High Priestess</option>
      <option value="3">3 - The Empress</option>
      <option value="4">4 - The Emperor</option>
      <option value="5">5 - The Hierophant</option>
      <option value="6">6 - The Lovers</option>
      <option value="7">7 - The Chariot</option>
      <option value="8">8 - Strength</option>
      <option value="9">9 - The Hermit</option>
      <option value="10">10 - The Wheel of Fortune</option>
      <option value="11">11 - Justice</option>
      <option value="12">12 - The Hanged Man</option>
      <option value="13">13 - Death</option>
      <option value="14">14 - Temperance</option>
      <option value="15">15 - The Devil</option>
      <option value="16">16 - The Tower</option>
      <option value="17">17 - The Star</option>
      <option value="18">18 - The Moon</option>
      <option value="19">19 - The Sun</option>
      <option value="20">20 - Judgment</option>
      <option value="21">21 - The World</option>

    </select>
    <input type="submit" value="Create" />
  </form>
</div>