<h1>Create</h1>
<div class="form">
  <form action="/create" method="POST">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" />
    <label for="name">Description</label>
    <textarea id="name" name="description"></textarea>
    <label for="image">ImageUrl</label>
    <input type="text" id="image" name="imageUrl" />
    <label for="arcanNumber">Major Arcan</label>
    <select id="arcanNumber" name="arcanNumber">
      <option value="0">0 - The Fool</option>
      <option value="1">1 - Easy</option>
      <option value="2">2 - Medium (Standard 3x3)</option>
      <option value="3">3 - Intermediate</option>
      <option value="4">4 - Expert</option>
      <option value="5">5 - Hardcore</option>
      <option value="6">6 - Hardcore</option>
      <option value="7">7 - Hardcore</option>
      <option value="8">8 - Hardcore</option>
      <option value="9">9 - Hardcore</option>
      <option value="10">10 - Hardcore</option>
      <option value="11">11 - Hardcore</option>
      <option value="12">12 - Hardcore</option>
      <option value="13">13 - Hardcore</option>
      <option value="14">14 - Hardcore</option>
      <option value="15">15 - Hardcore</option>
      <option value="16">16 - Hardcore</option>
      <option value="17">17 - Hardcore</option>
      <option value="18">18 - Hardcore</option>
      <option value="19">19 - Hardcore</option>
      <option value="20">20 - Hardcore</option>
      <option value="21">21 - Hardcore</option>

    </select>
    <input type="submit" value="Create" />
  </form>
</div>