<h1>{{name}}</h1>
<img class="card" src="{{imageUrl}}" />
<div class="details">
  <p><span>Description:</span>
    {{description}}</p>
  <p><span>Arcan Number:</span> {{arcanNumber}}</p>
  <a class="btn" href="/">Back</a>
</div>