<h1>Browser</h1>
<form action="" method="">
  <input type="text" class="search" name="search" placeholder="Search..." />
  <input
    type="number"
    name="from"
    class="arcanNumber"
    placeholder="Major arcan from..."
  />
  <span>-</span>
  <input
    type="number"
    name="to"
    class="arcanNumber"
    placeholder="Major arcan to..."
  />
  <input type="submit" value="search" />
</form>
{{#each tarotCards}}
{{>card}}
{{else}}
<p>There are no tarot cards yet!</p>
{{/each}}