<div class="card">
  <img class="card" src="{{imageUrl}}" />
  <p class="name">{{name}}</p>
  <p><span>Arcan Number:</span> 0{{arcanNumber}}</p>
  <a class="btn" href="/details/{{id}}">Details</a>
</div>