<div class="card">
  <img class="card" src="{{imageUrl}}" />
  <p class="name">{{name}}</p>
  <p><span>Arcan Number:</span> {{arcanNumber}}</p>
  <a class="btn" href="/tarot/{{_id}}/details">Details</a>
</div>