<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <title>Tarot </title>
    <link href="/css/site.css" type="text/css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />
  </head>

  <body>
    <div class="container">
      <header>
        <ul>
          <li><img class="logo" src="/images/logo.png" /></li>
          <li><a href="/">Tarot Cards</a></li>
          <li><a href="/create">Add a Card</a></li>
          <li><a href="/about">About Tarot</a></li>
        </ul>
      </header>
      <main>
        {{{body}}}
      </main>
    </div>
    <footer>@Tarot: Tarot Cards have 22 major enigmas and 56 minor.</footer>
  </body>

</html>